<aside class="sidebar">
  <p-button icon="pi pi-plus" label="Agregar" outlined type="button" />

  <nav class="mt-4">
    <ul>
      @for (item of links; track item.url) {
      <li class="sidebar-item">
        <a [routerLink]="item.url" routerLinkActive="sidebar-item-active">
          <i [ngClass]="item.icon || ''"></i>
          <span>{{ item.title }}</span>
        </a>
      </li>
      }

      <li class="sidebar-item cursor-pointer">
        <a (click)="logout()">
          <span class="pi pi-sign-out"></span>
          <span>Cerrar sesión</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
