<aside class="sidebar space-y-6">
  <div class="flex items-center gap-x-2">
    <span class="pi pi-cloud text-3xl"></span>
    <h2 class="text-2xl font-bold text-primary">{{ appName }}</h2>
  </div>

  <nav>
    <ul>
      @for (item of links; track item.url) {
      <li class="sidebar-item">
        <a [routerLink]="item.url" routerLinkActive="sidebar-item-active">
          <i [ngClass]="item.icon || ''"></i>
          <span>{{ item.title }}</span>
        </a>
      </li>
      }

      <li class="sidebar-item cursor-pointer">
        <a (click)="logout()">
          <span class="pi pi-sign-out"></span>
          <span>Cerrar sesión</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
