<section class="auth-container">
  <section class="auth-card">
    <form
      [formGroup]="registerForm"
      (ngSubmit)="registerUser()"
      class="auth-form"
    >
      <h2 class="form-title">Registrarse</h2>

      <div class="form-control">
        <label for="firstName">Nombre</label>
        <input
          pInputText
          id="firstName"
          type="text"
          formControlName="firstName"
        />
      </div>

      <div class="form-control">
        <label for="lastName">Apellido</label>
        <input
          pInputText
          id="lastName"
          type="text"
          formControlName="lastName"
        />
      </div>

      <div class="form-control">
        <label for="email">Email</label>
        <input pInputText id="email" type="email" formControlName="email" />
      </div>

      <div class="form-control">
        <label for="password">Contraseña</label>
        <p-password
          #password
          id="password"
          autocomplete="off"
          formControlName="password"
          [strongRegex]="strongPasswordRegex"
          [mediumRegex]="mediumPasswordRegex"
          [toggleMask]="true"
          [weakLabel]="'Débil'"
          [mediumLabel]="'Medio'"
          [strongLabel]="'Fuerte'"
          [promptLabel]="'Ingresa una contraseña'"
        >
          <ng-template pTemplate="footer">
            <p class="mt-2">Sugerencias</p>
            <ul class="pl-2 ml-2 mt-0 leading-6 list-disc">
              <li>Al menos una letra minúscula</li>
              <li>Al menos una letra mayúscula</li>
              <li>Al menos un número</li>
              <li>Mínimo 8 carácteres</li>
            </ul>
          </ng-template>
        </p-password>

        @if (isPasswordInvalid) {
        <span class="control-error">{{ passwordErrorMessage }}</span>
        }
      </div>

      <div class="form-control">
        <label for="confirmPassword">Confirmar contraseña</label>
        <input
          pInputText
          id="confirmPassword"
          type="password"
          formControlName="confirmPassword"
          autocomplete="off"
        />
      </div>

      <button
        pButton
        type="submit"
        class="w-full mt-2"
        [disabled]="registerForm.invalid || isLoading"
        [loading]="isLoading"
      >
        <span pButtonLabel>Registrarse</span>
      </button>

      <p-divider class="my-3" />

      <p class="text-center">
        ¿Ya tienes una cuenta?
        <a routerLink="/auth/login" class="link">Inicia sesión</a>
      </p>
    </form>
  </section>
</section>
