<section class="flex flex-col gap-1 mt-4">
  <h2 class="text-lg font-medium">Archivos recientes</h2>

  <p-contextmenu #contextMenu [model]="settingsMenuItems" />
  <p-table
    [value]="(recentFiles$() | async) || []"
    [(contextMenuSelection)]="selectedItem"
    [contextMenu]="contextMenu"
    styleClass="w-full h-full"
  >
    <ng-template #header let-columns>
      <tr>
        <th class="max-w-[250px] sm:max-w-[350px]">Nombre</th>
        <th class="w-[250px]">Propietario</th>
        <th class="w-[250px]">Última modificación</th>
        <th class="w-[250px]">Tamaño del archivo</th>
        <th class="w-[250px]">Carpeta</th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr class="hover:bg-zinc-50" [pContextMenuRow]="item">
        <td>
          <p class="flex items-center gap-2 w-[250px] sm:w-[350px] truncate">
            <span class="pi pi-file"></span>
            <span>{{ item.name }}</span>
          </p>
        </td>
        <td>{{ item.owner.email }}</td>
        <td>
          {{ item.updatedAt | date : "dd/MM/yyyy HH:mm:ss" }}
        </td>
        <td>{{ item.size | fileSize }}</td>
        <td>
          <p class="flex items-center gap-2 w-[250px] truncate">
            <span class="pi pi-folder"></span>
            <a
              class="text-primary-800 hover:underline"
              [routerLink]="['/storage', item.folder.id]"
              >{{ item.folder.name }}</a
            >
          </p>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>

<app-file-item-dialog
  [isDialogVisible]="isFileDialogVisible()"
  [folderItemData]="selectedItem"
  (closeDialog)="closeDialog($event)"
/>

<p-confirmdialog styleClass="confirm-dialog" />
