<p-contextmenu #contextMenu [model]="settingsMenuItems" />
<p-table
  [value]="folderItems()"
  [(contextMenuSelection)]="selectedItem"
  [contextMenu]="contextMenu"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template #header let-columns>
    <tr>
      <th class="max-w-[50%]">Nombre</th>
      <th class="w-[300px]">Última modificación</th>
      <th class="w-[300px]">Tamaño del archivo</th>
    </tr>
  </ng-template>
  <ng-template #body let-item>
    <tr
      class="hover:bg-zinc-50"
      [pContextMenuRow]="item"
      (dblclick)="item.type === 'folder' && goToFolder(item.id)"
    >
      <td>
        {{ item.name }}
      </td>
      <td>
        {{ item.updatedAt | date : "dd/MM/yyyy HH:mm:ss" }}
      </td>
      <td>{{ item.size | fileSize }}</td>
    </tr>
  </ng-template>
</p-table>

<app-folder-item-dialog
  [isDialogVisible]="isFolderDialogVisible()"
  [parentFolderId]="folderId()"
  [folderItemData]="selectedItem"
  (closeDialog)="closeDialog($event)"
/>

<app-file-item-dialog
  [isDialogVisible]="isFileDialogVisible()"
  [folderItemData]="selectedItem"
  (closeDialog)="closeDialog($event)"
/>
