<p-dialog
  [visible]="isDialogVisible()"
  (visibleChange)="emitCloseEvent()"
  modal
  styleClass="w-full max-w-[400px]"
>
  <ng-template #header>
    <h2 class="font-semibold text-xl text-primary">Renombrar archivo</h2>
  </ng-template>

  <div class="flex flex-col gap-2">
    <label for="fileName">Nombre</label>
    <input
      #fileNameInput
      id="fileName"
      type="text"
      pInputText
      class="w-full max-w-[400px]"
      autocomplete="off"
      [value]="fileItemName()"
      (keyup)="fileItemName.set(fileNameInput.value)"
      (keydown.enter)="saveFile()"
    />
  </div>

  <ng-template #footer>
    <p-button label="Cancelar" (click)="emitCloseEvent()" text />
    <p-button
      label="Renombrar"
      text
      (click)="saveFile()"
      [disabled]="!fileItemName().trim()"
    />
  </ng-template>
</p-dialog>
