<section class="h-full w-full flex flex-col">
  <p-breadcrumb class="max-w-full" [model]="breadCrumbItems()">
    <ng-template #item let-item>
      <a class="cursor-pointer" [routerLink]="item.routerLink">
        <span class="text-lg">{{ item.label }}</span>
      </a>
    </ng-template>
    <ng-template #separator> / </ng-template>
  </p-breadcrumb>

  <p-table [value]="folderItems()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header let-columns>
      <tr>
        <th class="w-[50%]">Nombre</th>
        <th>Última modificación</th>
        <th>Tamaño del archivo</th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td>
          @if (item.type === 'folder') {
          <a
            class="text-blue-500 hover:underline"
            [routerLink]="['/storage', item.id]"
          >
            {{ item.name }}
          </a>
          } @else {
          <a class="text-blue-500 hover:underline">
            {{ item.name }}
          </a>
          }
        </td>
        <td>
          {{ item.updatedAt | date : "dd/MM/yyyy HH:mm:ss" }}
        </td>
        <td>{{ item.size | fileSize }}</td>
      </tr>
    </ng-template>
  </p-table>
</section>
