<section class="h-full w-full flex flex-col p-4">
  <app-header
    [folderId]="folderId"
    [searchTerm]="searchTermControl.value ?? ''"
    (searchTermChange)="searchTermControl.setValue($event)"
    (updateTable)="getFolderContent()"
  />

  <p-breadcrumb
    class="max-w-full border-b border-surface-200"
    [model]="breadCrumbItems()"
  >
    <ng-template #item let-item>
      <a class="cursor-pointer" [routerLink]="item.routerLink">
        <span class="text-lg">{{ item.label }}</span>
      </a>
    </ng-template>
    <ng-template #separator> / </ng-template>
  </p-breadcrumb>

  <app-storage-table
    [folderId]="folderId"
    [folderItems]="folderItems()"
    (updateTable)="getFolderContent()"
  />
</section>
