<section class="flex flex-col gap-4">
  <h2 class="text-lg font-medium">Carpetas recientes</h2>

  <div class="flex items-center flex-wrap gap-4">
    @for (folder of recentFolders$() | async; track folder.id) {
    <div
      class="h-[56px] w-[250px] flex items-center gap-x-2 bg-surface-50 border border-surface-200 rounded-lg px-4 hover:bg-surface-200 transition-colors duration-200"
      [routerLink]="['/storage', folder.id]"
      >
      <p><span class="pi pi-folder"></span></p>
      <p class="truncate" [pTooltip]="folder.name" tooltipPosition="top">
        {{ folder.name }}
      </p>
    </div>
    }
  </div>
</section>
