@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";
@custom-variant dark (&:where(.app-dark, .app-dark *));

html,
body {
  font-family: "Rubik", sans-serif;
}

.auth-section {
  @apply min-h-screen w-full flex flex-col bg-surface-50 gap-y-8 p-5 sm:p-10;
}

.auth-container {
  @apply w-full h-full flex flex-1 justify-center items-center;
}

.auth-card {
  @apply w-full sm:w-[500px] bg-white rounded-2xl flex flex-col items-center px-10 py-8 sm:px-14 sm:py-12 border border-gray-200;
}

.auth-form {
  @apply w-full flex flex-col items-center gap-5;
}

.auth-form .form-title {
  @apply text-3xl font-bold text-primary mb-4;
}

.form-control {
  @apply w-full flex flex-col gap-2;
}

.control-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 14px;
  color: #dc3545;
}

.p-password,
.p-password input {
  width: 100% !important;
}

.link {
  @apply text-primary font-medium;
}

.confirm-dialog {
  @apply w-1/4 min-w-[380px];
}

.section-container {
  @apply h-full w-full flex flex-col p-4;
}

.section-title {
  @apply text-2xl font-semibold mb-4 text-primary;
}

.sidebar {
  @apply bg-surface-50 w-[300px] h-full border-r border-surface-200 p-5;
}

.sidebar-item {
  @apply my-1 text-center;
}

.sidebar-item a {
  @apply flex items-center space-x-3 rounded-lg p-3;
}

.sidebar .sidebar-item-active {
  @apply bg-primary;
}

.sidebar-item-active {
  @apply font-semibold text-primary-50;
}
