@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";
@custom-variant dark (&:where(.app-dark, .app-dark *));

html,
body {
  font-family: "Rubik", sans-serif;
}

.auth-section {
  @apply min-h-screen w-full flex flex-col bg-surface-50 gap-y-8 p-5 sm:p-10;
}

.auth-container {
  @apply w-full h-full flex flex-1 justify-center items-center;
}

.auth-card {
  @apply w-full sm:w-[500px] bg-white rounded-2xl flex flex-col items-center px-10 py-8 sm:px-14 sm:py-12 border border-gray-200;
}

.auth-form {
  @apply w-full flex flex-col items-center gap-5;
}

.auth-form .form-title {
  @apply text-3xl font-bold text-primary mb-4;
}

.auth-form .form-control {
  @apply w-full flex flex-col gap-2;
}

.control-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 14px;
  color: #dc3545;
}

.p-password,
.p-password input {
  width: 100% !important;
}
